body {
    margin: 0 auto;
    font-family: 'playfair display sc', arial;
}

.wrapper {
    margin: 0 auto;
    width: 80%;
}

.mainView {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.7)), url(../../public/styles/assets/hero.jpg);
    background-size: cover;
    button {
        background-color: orangered;
        border-style: none;
        padding: 15px 40px;
        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: 1px;
        color: #fff;
        border-radius: 50px;
        cursor: pointer;
        transition: .5s all ease-in;
        &:hover {
            background-color: darkgreen;
        }
    }
    h1 {
        margin-bottom: 0;
        font-size: 50px;
    }
    h1, h2 {
        letter-spacing: 2px;
        color: #fff;
    }

}

.sideBar {
    position: fixed;
    width: 30%;
    left: 100%;
    top: 0;
    padding: 25px;
    padding-top: 50px;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.42);
}

.slide-in {
    position: fixed;
    transform: translateX(-100%);
    transition-delay: .1s;
    transition: 0.6s ease-in all;
}

.slide-out {
    position: fixed;
    transition-delay: .1s;
    transform: translateX(100%);
    transition: 0.6s ease-in all;
}

.addCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    button.x {
        align-self: flex-end;
        padding: 10px 25px;
        background-color: orangered;
        color: #fff;
        border-style: none;
        cursor: pointer;
        font-size: 14px;
        transition: .5s all ease-in;
        &:hover {
            background-color: darkgreen;
        }
    }
    button.addCard__inputsButton {
        text-transform: uppercase;
        margin-top: 15px;
        padding: 10px 25px;
        background-color: orangered;
        color: #fff;
        width: 60%;
        border-style: none;
        cursor: pointer;
        font-size: 14px;
        transition: .5s all ease-in;
        &:hover {
            background-color: darkgreen;
        }
    }
    p {
        letter-spacing: 1px;
        font-size: 14px;
    }
}

.addCard__titleWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.addCard__title {

}

.addCard__description {
    width: 95%;
}

.addCard__form {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

.addCard__inputs {
    width: 80%;
    margin: 10px 0;
    border: none;
    font-size: 16px;
    padding: 10px;
}

button.addCard__inputs {
    padding: 10px 0;
    width: calc(80% + 20px)
}

.formatCard__wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    background: rgb(22, 22, 22);
}

.formatCard__scrollThrough {
    height: 90vh;
    display: flex;
    overflow-x: scroll;
    align-items: center;
    background: rgb(22, 22, 22);
    color: black;
    white-space:nowrap;
}

.card {
    background-color: orangered;
    margin: 0 80px;
    min-width: 500px;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    &:hover {
        box-shadow: 3px 3px 8px #fff;
    }
    ul {
        display: flex;
        flex-direction: column;
        li {
            list-style: none;
            letter-spacing: 1px;
            font-weight: bold;
            button {
                border-style: none;
                text-transform: uppercase;
                padding: 10px 25px;
                cursor: pointer;
                &:hover {
                    color: #fff;
                    background-color: #000;
                }
            }
        }
    }
}

ul.card__list {
    padding: 0;
}

li.deleteButton {
    align-self: center;
    margin-top: 10px;
}

.search__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 50px;
}

#searchBar {
    width: 300px;
    height: 40px;
    border-radius: 50px;
    border: none;
    padding: 15px;
    font-size: 18px;
    background-color: orangered;
    color: #fff;
    text-align: center;
}

